
<div class="ui cards" style="margin-right: 05px; margin-left: 05px;">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="ui inverted segment">
          <div class="container">
            <div class="card-body">
                <p> Latest Weather Conditions: </p>
              <p> {{currentWeather}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="margin-right: 05px; margin-left: 05px;">
      <div class="ui inverted segment">
        <div class="container">
          <div class="card-body">
            <p> Latest Temperature: </p>
            <p> {{tempC}}  *C</p>
            <p> {{cToF}}  *F</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="ui inverted segment">
        <div class="container">
          <div class="card-body">
            <p> Latest Wind:  </p>
            <p>{{windSpeedToBft}} Bft</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card" style="margin-right: 05px; margin-left: 05px;">
      <div class="ui inverted segment">
        <div class="container">
          <div class="card-body">
            <p> Latest Pressure:  </p>
            <p>{{pressure}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



